@font-face {
  font-family: "TT Lakes Medium";
  src: url("TTLakes-Medium.eot");
  src: url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  margin: 0;
  font-family: "TT Lakes Medium", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

.flex-container {
  display: none;
}

.upper-menu__item {
  width: 40px;
  height: 40px;
}

.header__upper-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  column-gap: 16px;
  height: 88px;
  margin: 0;
  padding: 0;
}

.upper-menu__shadow {
  border-bottom: 2px solid #d9fff5;
}

.upper-menu__item-1 {
  padding-left: 16px;
}

.upper-menu__item-2 {
  flex: 1 1 auto;
  width: 96.55px;
  height: 50.81px;
}

.upper-menu__item-6 {
  width: 2px;
  height: 32px;
}

.upper-menu__item-8 {
  padding-right: 16px;
}

.upper-menu__img {
  max-width: 100%;
  height: auto;
}

.body__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 304px;
  white-space: nowrap;
}

.body__title-size-m {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}

.highlight {
  display: inline-block;
  width: 4px;
  height: 40px;
  margin-right: 12px;
  background: #41f6d7;
  vertical-align: top;
}

.fadecopy {
  position: fixed;
  width: 24px;
  height: 40px;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}

.body__slide-menu {
  display: flex;
  position: relative;
  margin-left: 16px;
  margin-bottom: 24px;
  overflow-x: scroll;
}

.slide-menu__button {
  border: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  flex: 1 1 auto;
}

.slide-menu__button:focus {
  border-radius: 6px;
  border: 2px solid #b8ffec;
}

.slide-menu__button_size_m {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  color: #7e7e82;
  white-space: nowrap;
}

.content__row {
  display: flex;
  flex-wrap: wrap;
}

.content__item {
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.content__excerpt {
  margin: 0;
  margin-bottom: 16px;
  max-height: 90px;
  overflow-y: hidden;
}

.content__read-more-state {
  display: none;
}

.content__read-more-state:checked ~ .content__excerpt {
  max-height: 100%;
  overflow-y: visible;
}

.content__read-more-trigger::after {
  content: "Читать далее";
}

.content__read-more-state:checked ~ .content__read-more-trigger::after {
  content: "Свернуть";
}

.text__size {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  margin-top: 0;
}

.content__label {
  display: inline-block;
  width: 132px;
}

.content__label-size-m {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-decoration: none;
  color: black;
}

.content__img {
  margin-right: 8px;
}

.content__image {
  flex: 1 1 auto;
}

.content__pic {
  width: 100%;
}

@media (min-width: 768px) {
  .header__upper-menu {
    justify-content: space-around;
    column-gap: 16px;
  }

  .upper-menu__item-1 {
    padding-left: 24px;
    padding-right: 26.73px;
  }

  .upper-menu__item-2 {
    flex: 1 1 auto;
  }

  .upper-menu__item-6 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .upper-menu__item-8 {
    padding-right: 24px;
  }

  .upper-menu__item[hidden] {
    display: list-item;
  }

  .body__slide-menu {
    margin-bottom: 32px;
  }

  .content__row {
    flex-wrap: nowrap;
  }

  .content__item {
    flex: 0 1 auto;
    margin-right: 48px;
    margin-left: 24px;
  }

  .content__excerpt {
    max-height: 160px;
    margin-bottom: 10px;
  }

  .content__image {
    flex: 0 0 360px;
    display: flex;
    margin-right: 40px;
  }

  /*картинка не будет больше 360px*/
  .content__image .content__pic {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .header {
    display: none;
  }

  .body__title_hidden {
    display: none;
  }

  .flex-container {
    display: flex;
    margin-top: 42px;
    margin-bottom: 8px;
    height: 40px;
  }

  .body__title {
    flex: 1 1 auto;
    margin: 0;
    max-width: 100%;
    align-self: baseline;
  }

  .header__upper-menu {
    align-items: baseline;
  }

  .upper-menu__item {
    width: auto;
    height: auto;
  }

  .upper-menu__img {
    vertical-align: middle;
  }

  .body__slide-menu {
    flex-wrap: wrap;
  }

  .slide-menu__button {
    padding: 8px 25px;
  }

  .slide-menu__button-5,
  .slide-menu__button-6 {
    flex: 0 1 auto;
  }
}
